{% extends "base.html" %}
{% block title %}Подобранные опоры: {{current_system}} {% endblock %}
{% block content %}


<div class="box">
	<header class="major">
        <h2>Подобранные опоры на систему: {{  current_system  }}</h2>
    </header>
<!--		<h3>Подобранные опоры.</h3>-->
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th><h4>Наименование опоры:</h4></th>
							<th><h4>Описание (базовый материал, габариты, длина и тд):</h4></th>
							<th><h4>Количество опор:</h4></th>
						</tr>
					</thead>
					<tbody>

					{% for n in range(0, len_of_df) %}
						<tr>
							<td>{{ supp_data.loc[n]['support_name'] }}</td>
							<td>
								{{ supp_data.loc[n]['description'] }}
							</td>
							<td>{{ supp_data.loc[n]['number_of_supports'] }}</td>
							<td><a href="{{ url_for('delete_support', id=supp_data.loc[n]['id'], sys=current_system) }}" class="button fit">Удалить опору</a></td>
						</tr>
					{% endfor %}
				</table>

			</div>


			<form action="{{ url_for('send_gost', sys=current_system) }}" method="post">
				<div class="row gtr-uniform">
					<div class="col-6 col-12-xsmall">
						<label><h4>Название объекта:</h4></label>
						<input type="text" required placeholder="Введите название объекта" name="objectname">
					</div>
					<div class="col-6 col-12-xsmall">
						<label><h4>Адрес объекта:</h4></label>
						<input type="text" required placeholder="Введите адрес объекта" name="objectaddress">
					</div>
				</div>
				<button type="submit" class="button primary fit">Создать спецификацию и скачать в формате эксель</button>
			</form>

			<a href="{{ url_for('choose_system_parameters', sys=sys_eng)}}" class="button primary">Добавить опоры</a>
			<a href="{{ url_for('delete_all', sys=current_system, name=filename) }}" class="button primary">Очистить корзину</a>
	</div>
{% endblock %}