 <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="https://www.youtube.com/HiltiRussia" class="icon brands fa-youtube"><span class="label">YouTube</span></a>
            </li>
            <li class="list-inline-item">
              <a href="https://vk.com/hiltirussia" class="icon brands fa-vk"><span class="label">ВК</span></a>
            </li>

            <li class="list-inline-item">
              <a href="https://www.hilti.ru/">
<!--                <img src="/static/webfonts/hilti-logo.svg" alt="Логотип HILTI" class="ng-star-inserted">-->
                <span class="logo label" ><strong>HILTI</strong></span></a>
            </li>
          </ul>
          <p class="copyright text-muted"><a href="{{ url_for('home') }}" class="logo"><strong>HILTI</strong> selector</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>

