{% extends "base.html" %}
{% block content %}


<div class="box">
	<h1>Трубопроводы с температурным расширением (отопление, ГВ)</h1>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
   			{% for message in messages %}
         		<p>{{ message }}</p>
        	{% endfor %}
      	{% endif %}
    {% endwith %}
	<form action="" method="post" class="form">
	{{ form.hidden_tag() }}
		<table class="table-wrapper">
			<thead>
				<tr>
<!--					{% for field in form if field.name in ['base_material', 'direction_type', 'system', 'pipe_type', 'support_type'] %}-->
<!--					<th class="col-2 col-12-xsmall">{{ field.label }}</th>-->
<!--					{% endfor %}-->
<!--					{% for field in form if field.name not in ['base_material', 'direction_type', 'system', 'pipe_type', 'support_type', 'submit', 'csrf_token'] %}-->
<!--					<th class="col-1 col-12-xsmall">{{ field.label }}</th>-->
<!--					{% endfor %}-->
					{% for field in form if field.name not in ['submit', 'csrf_token']%}
						<th class="col-2 col-12-xsmall">{{ field.label }}</th>
						{% endfor %}
				</tr>

			</thead>
				<tbody>
					<tr>
						{% for field in form %}
						<td>{{ field() }}</td>
						{% endfor %}
					</tr> <!--ряд с ячейками тела таблицы-->
				</tbody>
		</table>
	</form>

	<script>
		let dir_select = document.getElementById("direction_type");
        let mounting_select = document.getElementById("mounting");
        let support_type_select = document.getElementById("support_type");

<!--          console.log(dir_select)-->

        dir_select.onchange = function()  {
            direction_type = dir_select.value;
<!--            alert(direction_type);-->

            fetch('/support_system/hot_water/' + direction_type + '/mounting').then(function(response) {
                response.json().then(function(data) {
<!--                    console.log(data)-->
<!--                    console.table(data);-->
                    let optionHTML = '';

                    for (let fastening of data.fastenings) {
                        optionHTML += '<option value="' + fastening.name + '">' + fastening.name + '</option>';
                    }
                    mounting_select.innerHTML = optionHTML;

                });
            });
        }
            mounting_select.onchange = function()  {
                mounting = mounting_select.value
<!--                console.log('This is ' + mounting)-->
<!--                alert(mounting);-->

            fetch('/support_system/hot_water/' + direction_type + '/'+ mounting + '/support_type').then(function(response) {
                response.json().then(function(data) {
<!--                    console.log(data)-->
<!--                    console.table(data);-->
                    let optionHTML2 = '';

                    for (let supp of data.support_types) {
                        optionHTML2 += '<option value="' + supp.name + '">' + supp.name + '</option>';
                    }
                    support_type_select.innerHTML = optionHTML2;
                });
            });
        }
    </script>

</div>

{% endblock %}