{% extends "base.html" %}
{% block title %}Добро пожаловать в Hilti Selector{% endblock %}
{% block content %}

<div class="box">
<!--	<h1>Посадочная страница</h1>-->
    <div class="col-2">
        <span class="image fit">
            <img src='static/img/hilti-logo.svg'>
        </span>
    </div>
    <div class="col-10">
        <header class="major">
            <h2>Правила работы с селектором:</h2>
        </header>

            <ul>
                <li>Селектор предназначен для подбора типовых опор крепления инженерных сетей и оборудования. </li>
                <li>Доступ к функционалу открыт только зарегистрированным пользователям. </li>
                <li>С альбомами чертежей типовых опор можно ознакомиться по ссылками ниже. </li>
                <li>Для начала работы необходимо:</li>
                <ul>
                    <li>Авторизироваться под своей учетной записью (если не зарегистрированы - пройти регистрацию). </li>
                    <li>Выбрать тип инженерной сети, для которой необходимо подобрать опоры. </li>
                    <li>Пользуясь выпадающими меню заполнить поля, цифрами указать длину участку коммуникации в метрах.
                        (Количество опор будет рассчитано автоматически в соответствии  с СП5.13330.2021)</li>
                    <li>Повторить п.4.3. для всех участков трассы. Добавленные опоры в корректном количестве появятся в разделе «выбранные опоры». </li>
                    <li>В разделе «выбранные опоры» указать адрес и наименование объекта, на который производится подбор. </li>
                    <li>Скачать спецификацию в формате xls, оформленную в соответствии с ГОСТ. </li>
                </ul>
                <li>В случае, если предложенные решения не удовлетворяют требованиям к узлам опор, задайте вопрос на специальной платформе
                    <a href='https://ask.hilti.ru/'><strong>Ask.Hilti</strong></a>,
                    либо позвоните по номеру <strong>8-800-700-52-52</strong> для связи с закрепленным за Вашей организацией менеджером. </li>
                <li>Предложения по улучшению сервиса ждем на почте: <a href=''>подборщикопор@google.com</a></li>
            </ul>
    </div>

    <hr>

    <header class="major">
        <h2>База актуальных АТР:</h2>
    </header>
    <div class="features">
        <article>
            <span class="col-2 image fit">
                <img src='static/img/ventilation.jpg'>
            </span>
            <div class="content">
                <h3><a href="static/files/albums/H7.0.pdf"><font color="red">АТР H7.0 </font>ОПОРНЫЕ КОНСТРУКЦИИ И СРЕДСТВА КРЕПЛЕНИЯ ВОЗДУХОВОДОВ </a></h3>
                <p>Опорные конструкции и средства крепления воздуховодов к стенам, колоннам и перекрытиям</p>
            </div>
        </article>
        <article>
            <span class="col-2 image fit">
                <img src='static/img/piping.jpg'>
            </span>
            <div class="content">
                <h3><a href="static/files/albums/H6.0.pdf"><font color="red">АТР H6.0 </font> ОПОРНЫЕ КОНСТРУКЦИИ И СРЕДСТВА КРЕПЛЕНИЯ ТРУБОПРОВОДОВ</a></h3>
                <p>Опорные конструкции и средства крепления трубопроводов к стенам, колоннам и перекрытиям</p>
            </div>
        </article>
        <article>
            <span class="col-2 image fit">
                <img src='static/img/sprinkler.jpg'>
            </span>
            <div class="content">
                <h3><a href="static/files/albums/Н6.1.pdf"><font color="red">АТР H6.1 </font>ОПОРНЫЕ КОНСТРУКЦИИ И СРЕДСТВА КРЕПЛЕНИЯ ТРУБОПРОВОДОВ СИСТЕМ АВТОМАТИЧЕСКОГО ПОЖАРОТУШЕНИЯ</a></h3>
                <p>Опорные конструкции и средства крепления трубопроводов систем пожаротушения к перекрытиям и балкам внутри здания</p>
            </div>
        </article>

        <article>
            <span class="col-2 image fit">
                <img src='static/img/roof equipment.jpg'>
            </span>
            <div class="content">
                <h3><a href="static/files/albums/Н7.1.pdf"><font color="red">АТР H7.1 </font>ОПОРНЫЕ КОНСТРУКЦИИ И СРЕДСТВА КРЕПЛЕНИЯ ОБОРУДОВАНИЯ НА КРОВЛЕ</a></h3>
                <p>Опорные конструкции и средства крепления радиальных вентиляторов на кровле</p>
            </div>
        </article>

        <article>
            <span class="col-2 image fit">
                <img src='static/img/roof vent.jpg'>
            </span>
            <div class="content">
                <h3><a href="static/files/albums/Н7.2.pdf"><font color="red">АТР H7.2 </font>ОПОРНЫЕ КОНСТРУКЦИИ И СРЕДСТВА КРЕПЛЕНИЯ ВОЗДУХОВОДОВ НА КРОВЛЕ</a></h3>
                <p>Опорные конструкции и средства крепления воздуховодов систем вентиляции на кровле</p>
            </div>
        </article>

        <!--        <article>-->
<!--            <span class="col-2 image fit">-->
<!--                <img src='static/img/fix.jpg'>-->
<!--            </span>-->
<!--            <div class="content">-->
<!--                <h3><a href="">Фиксирующие опоры</a></h3>-->
<!--                <p>Опорные конструкции и средства крепления</p>-->
<!--            </div>-->
<!--        </article>-->
    </div>


{% if not logged_in: %}
    <hr>
<div class="">
        <h2>Для того, чтобы продолжить работу, войдите или зарегистрируйтесь:</h2>
  <a href="{{ url_for('login') }}" class="button fit">Войти</a>
  <a href="{{ url_for('register') }}" class="button fit">Регистрация</a>

{% endif %}
    </div>
    </div>



{% endblock %}
