{% extends "base.html" %}
{% block content %}

<div class="box">
    <h2>Войти</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
   {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="post" class="col-6 col-12-xsmall">
        <div class="row gtr-uniform">
            <div class="col-12">
               <label class="field-label" title="Адрес электронной почты"> Адрес электронной почты: </label>
             </div>
            <div class="col-12">
                <input type="text" name="email" placeholder="Email" id="demo-name" required="required"/>
            </div>
            <div class="col-12">
                <label class="field-label" title="Пароль"> Пароль: </label>
            </div>
            <div class="col-12">
                <input type="password" name="password" placeholder="Пароль" required="required"/>
            </div>
            <div class="col-12">
                <button type="submit" class="button">Войти</button>
            </div>
<!--            <br>-->
    <!--        <a href="">Забыли пароль?</a>-->
        </div>
    </form>
</div>

{% endblock %}