{% extends "base.html" %}
{% block content %}

<div class="box">
	<h1>Регистрация</h1>
    {% with messages = get_flashed_messages() %}
{% if messages %}
   {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('register') }}" method="post" class="col-4 col-12-xsmall">
    	<input type="text" name="name" placeholder="Имя" required="required" />
        <input type="text" name="company" placeholder="Компания" required="required" />
		<input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password" placeholder="Пароль" required="required" />
        <button type="submit" class="button">Зарегистрироваться</button>
    </form>
</div>

{% endblock %}