{% extends "base.html" %}
{% block title %}Выберите тип инженерной сети{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="box" >
	<header class="major">
            <h2>Выберите тип инженерной сети:</h2>
        </header>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
   			{% for message in messages %}
         		<p>{{ message }}</p>
        	{% endfor %}
      	{% endif %}
    {% endwith %}

	<div class="posts">
		<div class="row">
			<article>
				<a href="{{ url_for('choose_system_parameters', sys='ventilation') }}">
					<h3>Крепление воздуховодов</h3>
					<span class="image">
							<img src="static/img/ventilation.jpg">
						</span>
				</a>
			</article>

			<article>
				<a href="{{ url_for('choose_system_parameters', sys='hot_water') }}">
						<h3>Крепление трубопроводов (рядовые опоры)</h3>
					<span class="image">
							<img src="static/img/piping.jpg">
						</span>
					<div>
					</div>
				</a>
			</article>

			<article>
				<a href="{{ url_for('choose_system_parameters', sys='sprinkler') }}">
					<h3>Спринклерное пожаротушение</h3>
					<span class="image">
							<img src="static/img/sprinkler.jpg">
						</span>
				</a>
			</article>

			<article>
				<a href="{{ url_for('choose_system_parameters', sys='fixed_supports') }}">
					<h3>Фиксирующие опоры</h3>
					<span class="image">
							<img src="static/img/fix.jpg">
						</span>
				</a>
			</article>

			<article>
				<a href="{{ url_for('choose_system_parameters', sys='radial_fans') }}">
					<h3>Оборудование на кровле</h3>
					<span class="image">
							<img src="static/img/roof equipment.jpg">
						</span>
				</a>
			</article>

			<article>
				<a href="{{ url_for('choose_system_parameters', sys='roof_vent') }}">
					<h3>Обвязка воздуховодов на кровле</h3>
					<span class="image">
							<img src="static/img/roof vent.jpg">
						</span>
				</a>
			</article>
		</div>
	</div>
</div>

{% endblock %}