{% extends "base.html" %}
{% block title %}Выберите тип инженерной сети{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="box" >
	<header class="major">
            <h2>Выберите тип инженерной сети:</h2>
        </header>
<!--	<h1>Выберите тип инженерной сети</h1>-->
	{% with messages = get_flashed_messages() %}
		{% if messages %}
   			{% for message in messages %}
         		<p>{{ message }}</p>
        	{% endfor %}
      	{% endif %}
    {% endwith %}
	<form action="" method="post" class="form">
		{{ wtf.quick_form(form) }}

	</form>
</div>

{% endblock %}