{% extends "base.html" %}

{% block title %}Вентиляция{% endblock %}
{% block content %}


<div class="box">
	<h1>Вентиляция</h1>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
   			{% for message in messages %}
         		<p style="color:red">{{ message }}</p>
        	{% endfor %}
      	{% endif %}
    {% endwith %}
	<form action="" method="post" class="form">
	{{ form.hidden_tag() }}
		<table class="table-wrapper">
			<thead>
				<tr>
					{% for field in form if field.name not in ['submit', 'csrf_token']%}
						<th class="col-2 col-12-xsmall">{{ field.label }}</th>
						{% endfor %}
				</tr>
			</thead>
				<tbody>
					<tr>
						{% for field in form %}
						<td>{{ field() }}</td>
						{% endfor %}
					</tr> <!--ряд с ячейками тела таблицы-->
				</tbody>
		</table>

</div>
{% endblock %}