{% extends "admin/base_admin.html" %}
{% block content %}

<div class="box">
	<h2>Спецификации пользователя: </h2>
    <h4>{{user.name}}, {{ user.company }}, {{ user.email }}, id={{user.id}}</h4>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>id</th>
<!--                    <th>id автора для контроля</th>-->
                    <th>Система</th>
                    <th>Наименование опоры</th>
                    <th>Описание</th>
                    <th>Количество опор</th>
                    <th>Дата создания</th>
                    <th>Статус</th>
                    <th>Имя объекта</th>
                    <th>Адрес объекта</th>
                    <th>Дата отправки</th>
                </tr>
            </thead>
            <tbody>
                {% for n in range(0, len_of_df) %}
                    <tr>
                    {% if specifications.iloc[n]['system'] == 'Крепление воздуховодов': %}
                        <td BGCOLOR="#CCCCCC">{{ specifications.iloc[n]['id'] }}</td>
                    {% elif specifications.iloc[n]['system'] == 'Крепление трубопроводов': %}
                        <td BGCOLOR="red">{{ specifications.iloc[n]['id'] }}</td>
                    {% elif specifications.iloc[n]['system'] == 'Обвязка воздуховодов на кровле': %}
                        <td BGCOLOR="yellow">{{ specifications.iloc[n]['id'] }}</td>
                    {% else %}
                    <td>{{ specifications.iloc[n]['id'] }}</td>
                    {% endif %}
<!--                    <td>{{ specifications.loc[n]['author_id'] }}</td>-->
                    <td>{{ specifications.iloc[n]['system'] }}</td>
                    <td>{{ specifications.iloc[n]['support_name'] }}</td>
                    <td>{{ specifications.iloc[n]['description'] }}</td>
                    <td>{{ specifications.iloc[n]['number_of_supports'] }}</td>
                     <td>{{ specifications.iloc[n]['date'] }}</td>
                     <td>{{ specifications.iloc[n]['status'] }}</td>
                     <td>{{ specifications.iloc[n]['object'] }}</td>
                     <td>{{ specifications.iloc[n]['object_address'] }}</td>
                     <td>{{ specifications.iloc[n]['send_date'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}